html {
    font-size: 24px;
}

.newspaper {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #000;
    background-color: #f5f5f5;
}

.name {
    font-size: 2rem;
    font-family: 'Times New Roman', serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.date {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

.headline {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.sub-headline {
    font-weight: 100;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    margin-bottom: 15px;
}

.author {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.text {
    text-indent: 20px;
    line-height: 2em;
    text-align: justify;
    margin-bottom: 15px;
}

.text::first-letter {
    font-weight: bold;
    font-size: 2em;
}
